// 动画

//流星效果

@keyframes shoot_star{
	0% {
		transform:translate(100px,-100px) ;
		opacity:0;
	}
	50% {
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(-100px,100px);
		opacity: 0;
	}
}
/* Firefox */
@-moz-keyframes shoot_star {
	0% {
		transform:translate(100px,-100px) ;
		opacity:0;
	}
	50% {
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(-100px,100px);
		opacity: 0;
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes shoot_star {
	0% {
		transform:translate(100px,-100px) ;
		opacity:0;
	}
	50% {
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(-100px,100px);
		opacity: 0;
	}
}
/* Opera */
@-o-keyframes shoot_star {
	0% {
		transform:translate(100px,-100px) ;
		opacity:0;
	}
	50% {
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(-100px,100px);
		opacity: 0;
	}
}

//星星闪烁效果


@keyframes flicker{
	0% {
		opacity:0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/* Firefox */
@-moz-keyframes flicker {
	0% {
		opacity:0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes flicker {
	0% {
		opacity:0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/* Opera */
@-o-keyframes flicker {
	0% {
		opacity:0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}





//左入弹簧效果
@keyframes l_spring { 
	0%{
		transform:translateX(500px);
		opacity: 0;
	}
	70%{
		transform: translateX(-40px);
		opacity: 1;
	}
	80%{
		transform: translateX(30px);
	}
	85%{
		transform: translateX(-15px);
	}
	90%{
		transform:translateX(10px);
	}
	93%{
		transform: translateX(-7px);
	}
	95%{
		transform: translateX(5px);
	}
	97%{
		transform: translateX(-3px);
	}
	99%{
		transform: translateX(1px);
	}
	100%{
		transform: translateX(0);
	}
}

@-moz-keyframes l_spring {
	0%{
		transform:translateX(500px);
		opacity: 0;
	}
	70%{
		transform: translateX(-40px);
		opacity: 1;
	}
	80%{
		transform: translateX(30px);
	}
	85%{
		transform: translateX(-15px);
	}
	90%{
		transform:translateX(10px);
	}
	93%{
		transform: translateX(-7px);
	}
	95%{
		transform: translateX(5px);
	}
	97%{
		transform: translateX(-3px);
	}
	99%{
		transform: translateX(1px);
	}
	100%{
		transform: translateX(0);
	} 
}
/* Safari 和 Chrome */
@-webkit-keyframes l_spring {
	0%{
		transform:translateX(500px);
		opacity: 0;
	}
	70%{
		transform: translateX(-40px);
		opacity: 1;
	}
	80%{
		transform: translateX(30px);
	}
	85%{
		transform: translateX(-15px);
	}
	90%{
		transform:translateX(10px);
	}
	93%{
		transform: translateX(-7px);
	}
	95%{
		transform: translateX(5px);
	}
	97%{
		transform: translateX(-3px);
	}
	99%{
		transform: translateX(1px);
	}
	100%{
		transform: translateX(0);
	}
}
/* Opera */
@-o-keyframes l_spring {
	0%{
		transform:translateX(500px);
		opacity: 0;
	}
	70%{
		transform: translateX(-40px);
		opacity: 1;
	}
	80%{
		transform: translateX(30px);
	}
	85%{
		transform: translateX(-15px);
	}
	90%{
		transform:translateX(10px);
	}
	93%{
		transform: translateX(-7px);
	}
	95%{
		transform: translateX(5px);
	}
	97%{
		transform: translateX(-3px);
	}
	99%{
		transform: translateX(1px);
	}
	100%{
		transform: translateX(0);
	} 
}



//右入弹簧效果
@keyframes r_spring { 
	0%{
		transform:translateX(-500px);
		opacity: 0;
	}
	70%{
		transform: translateX(40px);
		opacity: 1;
	}
	80%{
		transform: translateX(-30px);
	}
	85%{
		transform: translateX(15px);
	}
	90%{
		transform:translateX(-10px);
	}
	93%{
		transform: translateX(7px);
	}
	95%{
		transform: translateX(-5px);
	}
	97%{
		transform: translateX(3px);
	}
	99%{
		transform: translateX(-1px);
	}
	100%{
		transform: translateX(0);
	} 
}

@-moz-keyframes r_spring {
	0%{
		transform:translateX(-500px);
		opacity: 0;
	}
	70%{
		transform: translateX(40px);
		opacity: 1;
	}
	80%{
		transform: translateX(-30px);
	}
	85%{
		transform: translateX(15px);
	}
	90%{
		transform:translateX(-10px);
	}
	93%{
		transform: translateX(7px);
	}
	95%{
		transform: translateX(-5px);
	}
	97%{
		transform: translateX(3px);
	}
	99%{
		transform: translateX(-1px);
	}
	100%{
		transform: translateX(0);
	} 
}
/* Safari 和 Chrome */
@-webkit-keyframes r_spring {
	0%{
		transform:translateX(-500px);
		opacity: 0;
	}
	70%{
		transform: translateX(40px);
		opacity: 1;
	}
	80%{
		transform: translateX(-30px);
	}
	85%{
		transform: translateX(15px);
	}
	90%{
		transform:translateX(-10px);
	}
	93%{
		transform: translateX(7px);
	}
	95%{
		transform: translateX(-5px);
	}
	97%{
		transform: translateX(3px);
	}
	99%{
		transform: translateX(-1px);
	}
	100%{
		transform: translateX(0);
	} 
}
/* Opera */
@-o-keyframes r_spring {
	0%{
		transform:translateX(-500px);
		opacity: 0;
	}
	70%{
		transform: translateX(40px);
		opacity: 1;
	}
	80%{
		transform: translateX(-30px);
	}
	85%{
		transform: translateX(15px);
	}
	90%{
		transform:translateX(-10px);
	}
	93%{
		transform: translateX(7px);
	}
	95%{
		transform: translateX(-5px);
	}
	97%{
		transform: translateX(3px);
	}
	99%{
		transform: translateX(-1px);
	}
	100%{
		transform: translateX(0);
	} 
}
//上下浮动
@keyframes t_b{
	0%{
		transform: translateY(0);
	}
	15.625%{
		transform: translateY(-25px);
	}
	46.875%{
		transform: translateY(25px);
	}
	62.5%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}
/* Firefox */
@-moz-keyframes t_b {
	0%{
		transform: translateY(0);
	}
	15.625%{
		transform: translateY(-25px);
	}
	46.875%{
		transform: translateY(25px);
	}
	62.5%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes t_b {
	0%{
		transform: translateY(0);
	}
	15.625%{
		transform: translateY(-25px);
	}
	46.875%{
		transform: translateY(25px);
	}
	62.5%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}
/* Opera */
@-o-keyframes t_b {
	0%{
		transform: translateY(0);
	}
	15.625%{
		transform: translateY(-25px);
	}
	46.875%{
		transform: translateY(25px);
	}
	62.5%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}

//中间放大
.z_r_b{
	opacity:0;
	transform:scale(0,0);
	transition:all 1s ease-in-out ;
}
// 上下浮动
.animate-t_b{
	animation:t_b 8s ease ;
	animation-iteration-count:2;
}

//标题上淡入
.t_o_n{
	opacity:0;
	transform:translateY(-100px);
	transition:all 1s ease-in-out;
}
//左淡入
.animate-l_o_n{
	animation:l_o_n .5s ease-in-out;
}
//右淡入
.r_o_n1{
	opacity:0;
	transform:translateX(100%);
	transition:all 3s ease-in-out;
}
.r_o_n2{
	opacity:0;
	transform:translateX(150%);
	transition:all 3s ease-in-out;
}
//下淡入
.b_o_n{
	opacity:0;
	transform:translateY(500px);
	transition:all 1s ease-in-out;
}
//流星
.animate-shoot_star{
	animation:shoot_star 4s ease-out infinite;
}
// 闪烁
.animate-flicker{
	animation:flicker 3s ease-in-out infinite;
}
//左入弹簧效果
.animate-l_spring{
	animation:l_spring 1s ease-in-out;
}
//右入弹簧效果
.animate-r_spring{
	animation:r_spring 1s ease-in-out;
}

//左右淡入延迟
.l_o_n{
	opacity:0;
	transform:translateX(-500px);
	transition:all 1s ease-in-out;
}
.l_o_n_d1{
	opacity:0;
	transform:translateX(-500px);
	transition:all 1s ease-in-out .2s;
}
.l_o_n_d2{
	opacity:0;
	transform:translateX(-500px);
	transition:all 1s ease-in-out .4s;
}
.l_o_n_d3{
	opacity:0;
	transform:translateX(-500px);
	transition:all 1s ease-in-out .6s;
}
.l_o_n_d4{
	opacity:0;
	transform:translateX(-500px);
	transition:all 1s ease-in-out .8s;
}
.l_o_n_d5{
	opacity:0;
	transform:translateX(-500px);
	transition:all 1s ease-in-out 1s;
}
.l_o_n_d6{
	opacity:0;
	transform:translateX(-500px);
	transition:all 1s ease-in-out 1.2s;
}
.r_o_n{
	opacity:0;
	transform:translateX(500px);
	transition:all 1s ease-in-out;
}
.r_o_n_d1{
	opacity:0;
	transform:translateX(500px);
	transition:all 1s ease-in-out .2s;
}
.r_o_n_d2{
	opacity:0;
	transform:translateX(500px);
	transition:all 1s ease-in-out .4s;
}
.r_o_n_d3{
	opacity:0;
	transform:translateX(500px);
	transition:all 1s ease-in-out .6s;
}
.r_o_n_d4{
	opacity:0;
	transform:translateX(500px);
	transition:all 1s ease-in-out .8s;
}
.translate_move{
	opacity:1;
	transform:translateX(0);
}
.scale_move{
	opacity: 1;
	transform:scale(1,1);
}