html, body {
    position: relative;
    height: 100%;
}
body {
    background:#fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
$Hwidth:320px,360px,375px,412px,414px,768px;
$Swidth:750px;
@each $i in $Hwidth{
    @media screen and (min-width:#{$i}){
        html{
            font-size:100px * $i / $Swidth;
        }
    } 
}

@mixin t_b_c{
    position: absolute;
    top: 0;
    bottom:0;
    margin-top: auto;
    margin-bottom: auto;
}
@mixin i_c{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.icon{
    background-image: url(../img/icon.png);
    background-size:18rem 10rem;
}
.container{
    padding:0 .25rem;
}

.red{
    color:#f00909;
}
h4{
    text-align: center;
    font-size: .32rem;
    font-weight: 600;
    span{
        position: relative;
        padding:0 .5rem;
    }
    .icon-h4-left{
        width: .34rem;
        height: .19rem;
        background-position:0 -1.39rem;;
        left: 0;
       @include t_b_c;
    }
    .icon-h4-right{
        width: .32rem;
        height: .19rem;
        background-position:-.44rem -1.39rem;
        right: 0;
        @include t_b_c;
    }
}
h5{
    font-size: .30rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: .2rem;
    span{
        padding-left: .2rem;
    }
}

.banner{
    background-image:url(../img/banner.jpg);
    background-size: contain;
    background-position: center;
    position: relative;
    p{
        position:absolute;
        bottom:0;
        left: 0;
        width: 100%;
        color:#fff;
        padding:0 .25rem;
        text-indent: 2em ;
        .sb{
            padding-right: 5px;
        }
        .op{
            opacity: .7;
        }
    }
    
}
.slide2{
    padding:.25rem 0;
    background:#fff;
    position: relative;
    .img{
        margin-top:.6rem;
        margin-bottom: .2rem;
        margin-left:auto;
        margin-right: auto;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        box-shadow:0 0 .3rem rgba(0,0,0,0.1);
        position:relative;
        .R{
            width: .78rem;
            height: .82rem;
            background-position: 0 0;
            @include i_c;
        }
        .P{
            width: .87rem;
            height: 1.02rem;
            background-position:-.8rem 0;
            @include i_c;
        }
    }
    .protect-describe{
        p{
            font-size: .26rem;
            color:#999999;
            text-align: center;
            margin:0;
        }
        p:first-child{
            padding-bottom:.1rem;
      }
    }
    .bottom-title{
        position:absolute;
        bottom:.25rem;
        left: 0;
        h5{
            padding-top:.3rem;
            border-top: .01rem solid #eee;
        }
        p{
            text-align: center;
            color:#333;
            font-size: .26rem;
            line-height: .36rem;
        }
    }
    
}